@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#brick {
  z-index: -1;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/svg/brick.svg");
  background-repeat: repeat;
  background-size: auto; /* Adjust as needed */
}
